<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <h1><% params.key(:team_name) %></h1>
   <% params.each do |key, value| %>
   <% new_key = key.split("_").map {|w| w.capitalize}.join(" ") %>
   <h2><%= new_key %>: <%= value %></h2>
   <% end %>

 </body>
</html>
